<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @article.image_path %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @article.contents %>
</p>

<p>
  <strong>View count:</strong>
  <%= @article.view_count %>
</p>

<p>
  <strong>Point:</strong>
  <%= @article.point %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @article.hobby %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
